@media screen and (max-width: 768px){
    #button-responsive{
        display: block;
    }

    #navigation-one{
        display: none;
    }

    #principal-one{
        display: flex;
        flex-direction: column;
    }

    #imglogopk{
        width: 300px;

    }
}
    
