@media screen and (max-width: 768px){
    
    #button-responsive{
        display: block;
    }

    .about-title-p{
        padding-bottom: 5px;
    }

    #button-responsive{
        display: block;
    }

    #navigation-one{
        display: none;
    }

    #principal-one{
        display: flex;
        flex-direction: column;
    }

    #imglogopk{
        width: 300px;

    }
}
    
@media screen and (max-width: 454px){
    h1{
        font-size: 1.3rem;
    }

    #imglogopk{
        width: 200px;
    }
    .about-title-p{
    font-size: 23px;
    padding-bottom: 5px;
    }
}