body{
    background: rgb(94,94,94);
    background: linear-gradient(90deg, rgb(61, 60, 60) 0%, rgb(61, 58, 58) 50%, rgb(91, 88, 88) 50%, rgb(91, 88, 88) 100%);
    margin: 0px;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

.cabecalho .none img{
    width: 30px;

}

.cabecalho a:hover{
    background-color: rgba(210, 105, 30, 0.459);
    transition: 0.3s;
}


.cabecalho h1{
    font-family: poppinslight;
    color: white;
}

.cabecalho a{
    text-decoration: none;
    font-size: 20px;
    margin-right: 20px;
    color: white;
    padding: 6px 6px;
    background-color: rgb(77, 70, 84);
    border-radius: 8px;
    font-family: poppinsbold;
}


.conteudo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.area-esq-titulo .conteudo-titulo{
    display: flex;
    flex-direction: row;
    font-size: 40px;
    margin-top:120;
    color: white;
    padding: 0px;
    font-family: poppinslight;
}



.conteudo-titulo-abaixo{
    margin-top: 200px;
    font-size: 20px;
    color: white;
    font-family: poppinsregular;
    margin-left: 100px;
}

.conteudo-titulo-abaixo {
    max-width: 500px;
    font-size:15px ;
}

.area-meio img{
    width: 600px;
    margin-right: 400px;
}


.area-dir-logo nav{
    display: flex;
    flex-direction: column;
    margin-top: 450px;
    margin-right: 40px;
    gap:60px;
}

